.block{
    margin: 20px auto;
    padding: 10px 0 0 0;
    border: 1px solid #dddddd;
    width: 900px;
}
h2{
    border-bottom: 5px solid #dddddd;
    margin: 0 auto;
}
h3 {
	font-size: 25px;
	border-bottom: 5px solid #dddddd;
	font-weight: 350;
	width: 850px;
    margin: 0 auto;
}
p{
    text-align: right;
    margin: -30px 15px 30px 0;
}
.menu{
    background-color: #ffffff;
	width: 130px;
	height: 40px;
	border: solid 1px #000000;
	border-radius: 7px;
	font-size: 15px;
    margin: 10px 0 8px 750px;
}
.return{
    background-color: #ffffff;
	width: 130px;
	height: 40px;
	border: solid 1px #000000;
	border-radius: 7px;
	font-size: 15px;
    margin: -64px 0 0 600px;
}
table{
    margin: 0 auto;
}
th{
    font-weight:lighter;
    text-align: right;
}
span {
	color: red;
}
select {
	width: 145px;
	height: 22px;
	margin-left: 3px;
}

input[type="radio"]{
	margin-left: 17px;
	margin-right: 7px;
}
